{% extends "base.html.twig" %}

{% block title %}Articles #{% endblock %}

{% block body %}  
<div class="text-center m-5">
    <p> Sous Caté {{ subCategory.name }}  </p>
    <p> Caté {{ category.name }}  </p>
        <p> Caté {{ article.title }}  </p>



</div>     
{% endblock %} 