{% extends 'base.html.twig' %}

{% block title %}Comment adhérer ?
{% endblock %}

{% block body %}
<section id="coloradherer">
	<div id="adherer2" ></br>
		<h1 class="text-end p-5">
		</div>
<div class="d-lg-flex justify-content-around mt-5">
		<div class="card border-light col-lg-3">
			<h5 class=" text-center" style="color:#000033">
				Liens utiles
			</h5>
			<div class="card-body">
				<li>
					<a href="http://www.affmar-fo.fr/" target="_blank" title="Conseil webmaster" list-style-type: "disc" ; target="_blank">Pour les TSDD spécialité navigation maritime</a>
				</li>
			</br>
			<li>
				<a href="http://www.snp2e-fo.syndicat.min-e2.fr/" target="_blank" title="Conseil webmaster" target="_blank">
					Pour les TSDD autres spécialités</a>
			</li>
		</br>
		<li>
			<a href="https://www.snitpect.fr/" target="_blank" title="Conseil webmaster" target="_blank">Pour les ITPE</a>
		</li>
	</br>
	<li>
		<a href="https://sniae.fr/" target="_blank" title="Conseil webmaster" target="_blank">Pour les IAE</a>
	</li>
</div>
</div>

	<div class="card border-light col-lg-3">
	    <h5 class="card-title text-center">adhésion</h5>

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted text-center">Téléchargez le document à remplir</h6>
<div class="text-center">
<a href="https://www.fichier-doc.fr/2021/12/13/adhesion/" target="_blank"> ici </a></div>
<div class="text-center mt-3">
<a class="btn btn-outline-danger" href="mailto:ga.annegren@gmail.com" role="button"> Si paiement par cb envoyez ici : <img src="https://img.icons8.com/fluency/48/000000/apple-mail.png"/></a></div>
  </div>
</div>

			<div class="flex-fill">
            {% for permanentArticles in permanentArticle %}
                {% if (permanentArticles.name == 'Adherer') %}
                    <img src="{{ vich_uploader_asset(permanentArticles,'imageFile')}}" class="img-fluid" alt=" ...">
                {% endif %}
            {% endfor %}
			</div>
			</div>

    <div class="p-5 text-end">      
        <button type="button" class="my-3 p-1 btn btn-outline-light text-reset">
	        <a href="#" class="link-blue">↑</a>
        </button>
    </div>
</div>
</section>

{% endblock %}
