@import "~bootstrap/scss/bootstrap";

body {
    background-color: #EBF5FB ; 
}

a {
    text-decoration: none ;
    
}

    h2, h3, h4, h5 {
    font-family: Arial,Helvetica,sans-serif;
    color: rgba(100, 79, 52, 0.514);
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none
}

h1 {
    font-family: Arial,Helvetica,sans-serif;
    color: #BCAAA4 ;
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

p{
    color:rgba(100, 79, 52, 0.514);
    font-weight: 700;



}

.nav-link{
    text-decoration: none
    }


