{% extends 'base.html.twig' %}

{% block title %}Les sous-catégories{% endblock %}

{% block body %}
    <h1 class="text-center p-5" > Toutes les sous Catégories de Parcs Nationaux: </h1>
    {% for parcsNationaux in parcsNationauxs %}
        <div>
            <a href="{{ path("parcsnationaux_show", { parcsNationauxName: parcsNationaux.name }) }}"><h2> {{ parcsNationaux.name }} </h2></a>
        </div>
    {% else %}
        Aucune Catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
