<footer>
	<div class="card-footer">
		<div class="container text-center">
			<p class="footer-text m-0 col-lg-12 col-md-12 my-2"></p>
			<div class="container text-center row align-items-center text-lg-center" style="color:#fff">
				<p>
					<a href="https://www.feets-fo.fr/" target="_blank" style="font-size: 20px; color:red; font-weight:bold"> 
						www.feets-fo.fr</a>
					<div>&bull; 46 rue des Petites Écuries – 75010 Paris
					<a href="#" class="text-reset">&bull;  01 44 83 86 20</a>
					<a href="#" class="text-reset">&bull; contact@feets-fo.fr</a>
					</div>
				</p>
			</div>
		</div>
	</div>
</footer>
