<footer>
	<div class="card-footer">
		<div class="container text-center">
			<p class="footer-text m-0 col-lg-12 col-md-12 my-2"></p>
			<div class="container text-center row align-items-center text-lg-center">
				<p>
					<a href="https://www.feets-fo.fr/" style="color:#CB4335">
						www.feets-fo.fr</a>
					<a href="#" class="text-reset">&bull; 46 rue des Petites Écuries – 75010 Paris
					</a>
					<a href="#" class="text-reset">&bull;  01 44 83 86 20</a>
					<a href="#" class="text-reset">&bull; contact@feets-fo.fr</a>
				</p>
			</div>
		</div>
	</div>
</footer>
