<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="https://img.icons8.com/ios-glyphs/30/000000/home.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<a class="nav-link" href="/article/" style="color:#000033">
					Toute l'actualité
				</a>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#000033">
						Status
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" style="color:#000033" href="/category/ATE TE/">ATE/TE</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/category/Contractuels et fonctionnaires détachés/">Contractuels et fonctionnaires détachés</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/category/TSDD hors spécialité navigation maritime/">TSDD hors spécialité navigation maritime</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/category/TSDD navigation maritime/">TSDD navigation maritime</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/category/ITPE/">ITPE</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/category/IAE">IAE</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#000033">
						Parc nationaux
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" style="color:#000033" href="/parcsnationaux/Instance">Instances</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/parcsnationaux/Mobilité">Mobilités</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/parcsnationaux/Promotion">Promotions</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#000033">
						OFB
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" style="color:#000033" href="/ofb/Instance">Instances</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/ofb/Mobilité">Mobilités</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#000033" href="/ofb/Promotion">Promotions</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link" href="" id="navbarDropdown" role="button" aria-expanded="false" style="color:#000033">
						Ministère
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link" href="" id="navbarDropdown" role="button" aria-expanded="false" style="color:#000033">
						Fonction publique
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
				</li>
			</div>
		</div>
	</nav>
