<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="/article/" style="color:#ABEBC6">
            Toute l'actualité
          </a>
          </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ABEBC6">
            Status
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/category/ATE TE/">ATE/TE</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/category/Contractuels et fonctionnaires détachés/">Contractuels et fonctionnaires détachés</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/category/TSDD hors spécialité navigation maritime/">TSDD hors spécialité navigation maritime</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/category/TSDD navigation maritime/">TSDD navigation maritime</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/category/ITPE/">ITPE</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/category/IAE">IAE</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ABEBC6">
           Parc nationaux
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/parcsnationaux/Instance">Instances</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/parcsnationaux/Mobilité">Mobilité</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/parcsnationaux/Promotion">Promotions</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ABEBC6">
           OFB
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/ofb/Instance">Instances</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/ofb/Mobilité">Mobilité</a></li>
            <li><a class="dropdown-item" style="color:#ABEBC6" href="/ofb/Promotion">Promotions</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



 