<nav class="navbar navbar-expand-lg navbar-light bg-beige">

	<a class="d-flex justify-content-start"href="/">
	<img src="{{ asset('build/images/logoOFB.png') }}" class="d-block w-70" height='60px' alt="logo">
	</a>

	<div class="container-fluid">
	<div class="d-flex justify-content-end w-100 d-lg-none">
		<button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
		<div class="collapse navbar-collapse text-end text-lg-center" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<a class="nav-link" href="/article/" style="color:#424DAB">
					Toute l'actualité
				</a>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#424DAB">
						Status
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/category/ATE TE/">ATE/TE</a>
						</li>
						<li>
							<a class="dropdown-item " style="color:#424DAB" href="/category/Contractuels et fonctionnaires détachés/">Contractuels et fonctionnaires détachés</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/category/TSDD hors spécialité navigation maritime/">TSDD hors spécialité navigation maritime</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/category/TSDD navigation maritime/">TSDD navigation maritime</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/category/ITPE/">ITPE</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/category/IAE">IAE</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#424DAB">
						Parcs nationaux
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/parcsnationaux/Instance">Instances</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/parcsnationaux/Mobilité">Mobilités</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/parcsnationaux/Promotion">Promotions</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#424DAB">
						OFB
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/ofb/Instance">Instances</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/ofb/Mobilité">Mobilités</a>
						</li>
						<li>
							<a class="dropdown-item" style="color:#424DAB" href="/ofb/Promotion">Promotions</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<a class="nav-link" href="/adherer/" style="color:#424DAB">
					Adhérer
				</a>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link" href="https://ecologie-transports-logement.feets-fo.fr" target="_blank" id="navbarDropdown" role="button" aria-expanded="false" style="color:#424DAB">
						FO Ministère
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link" href="http://www.fo-fonctionnaires.fr/dashboard/" target="_blank" id="navbarDropdown" role="button" aria-expanded="false" style="color:#424DAB">
						FO Fonction publique
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link" href="/contact" id="navbarDropdown" role="button" aria-expanded="false" style="color:#424DAB">
						Contact
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
				</li>
			</ul>
			<a class="d-flex justify-content-end"href="/">
	<img src="{{ asset('build/images/logosnape.png') }}"class="d-block w-40" height='70px' alt="logo">	</a>
			</div>
		</div>
	</nav>
